
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/car/add}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Car Information<span style="font-size: small"> * is a
							required field</span>
					</legend>


					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* Title</label>

						<div class="col-md-8">
							<input type="text" name="title" class="form-control" id="title"
								th:value="${car.title}" required="required" placeholder="Title" />
							<span class="help-block">Title of the car</span>
						</div>
					</div>

					<!-- owner -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="owner">*
							Owner</label>
						<div class="col-md-8">
							<input type="text" name="owner" class="form-control" id="owner"
								th:value="${car.owner}" required="required"
								placeholder="Owner" /> <span class="help-block">Owner
								of the car</span>
						</div>
					</div>

					<!-- company -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="company">Company</label>
						<div class="col-md-8">
							<input type="text" name="company" class="form-control"
								id="company" th:value="${car.company}"
								placeholder="Company" /> <span class="help-block">Manufacturer
							    </span>
						</div>
					</div>

					<!-- manufacturing date -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="manufacturingDate">Manufacturing
							Date</label>
						<div class="col-md-8">
							<input type="date" class="form-control" id="manufacturingDate"
								name="manufacturingDate" th:value="${car.manufacturingDate}"
								placeholder="Manufacturing Date" /> <span class="help-block">Manufacturing
								Date of the Car</span>
						</div>
					</div>

					<!-- Number of Doors -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="numberOfDoors">Number of Doors</label>
						<div class="col-md-8">
							<select th:value="${car.numberOfDoors}" id="numberOfDoors" name="numberOfDoors"
								class="form-control">
								<option value="2">Two</option>
								<option value="4">Four</option>
							</select>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Category</label>
						<div class="col-md-8">
							<select th:value="${car.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="Hatchback"
									th:selected="(${car.category}=='Hatchback')">Hatchback</option>
								<option value="Sedan"
									th:selected="(${car.category}=='Sedan')">Sedan</option>
								<option value="Coupe"
									th:selected="(${car.category}=='Coupe')">Coupe</option>
								<option value="Convertible"
									th:selected="(${car.category}=='Convertible')">Convertible</option>
								<option value="Tourer &amp; Series"
									th:selected="(${car.category}=='Tourer &amp; Series')">Tourer
									&amp; Series</option>
							</select>
						</div>
					</div>

					<!-- Occupancy -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="occupancy">Passenger Occupancy</label>

						<div class="col-md-8">
							<input type="number" name="numberOfOccupancy" class="form-control"
								id="occupancy" th:value="${car.numberOfOccupancy}"
								placeholder="Occupancy" /> <span class="help-block">Passenger Occupancy
							    of the Car</span>
						</div>
					</div>

					<!-- model -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="model">Model</label>
						<div class="col-md-8">
							<select th:value="${car.model}" id="model" name="model"
								class="form-control">
								<option value="classic old">Classic Old</option>
								<option value="classic vintage">Classic Vintage</option>
							</select>
						</div>
					</div>

					<!-- Unique Identifaction -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="uniqueIdentification">Unique Characteristic</label>

						<div class="col-md-8">
							<input type="text" name="uniqueIdentification" class="form-control" id="uniqueIdentification"
								th:value="${car.uniqueIdentification}" placeholder="Unique Characteristic" /> <span
								class="help-block">Unique Characteristic of the Car</span>
						</div>
					</div>

					<!-- Total Weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="totalWeight">Total
							Weight</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${car.totalWeight}" type="number" step="0.01"
									name="totalWeight" class="form-control" id="totalWeight"
									placeholder="Total Weight" /> <span
									class="input-group-addon">Ounces</span>
							</div>
							<span class="help-block">Total Weight of the Car</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">List
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${car.listPrice}" type="number" name="listPrice" step="0.01"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block">List price of the car</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Our
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${car.ourPrice}" type="number" name="ourPrice" step="0.01"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Our price of the car</span>
						</div>
					</div>

					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">Number
							in stock</label>
						<div class="col-md-8">
							<input th:value="${car.inStockNumber}" type="number"
								name="inStockNumber" class="form-control" id="inStockNumber"
								placeholder="Number of in-stock copies" /> <span
								class="help-block">Number of in-stock copies</span>
						</div>
					</div>

					<!-- status of car -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								checked="checked" /> Active </label> <label><input
								value="false" type="radio" name="active" />
								Inactive </label> <span class="help-block">Whether the car is
								active or inactive</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Description</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${car.description}"
								placeholder="Description" />
							<span class="help-block">Description of the car</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="carImage">Upload car image</label>
						</div>
						<div class="col-md-8">
							<input id="carImage" type="file" name="carImage"
								th:value="${car.carImage}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Add car</button>
							<a class="btn btn-danger" th:href="@{/}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
