
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li><a th:href="@{/car/carList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go back</a></li>
				<li><a th:href="@{/car/updateCar?id=}+${car.id}">Edit</a></li>
			</ol>
			
		</div>
		
		<div class="row">
			<div class="col-xs-3">
				<div class="panel panel-default">
				<div class="panel-body">
					<img th:src="@{/image/car/}+${car.id}+'.jpg'" class="img-responsive center-block" />
				</div>
				</div>
			</div>
			<div class="col-xs-9">
				<h3 th:text="${car.title}"></h3>
				<div class="row">
					<div class="col-xs-6">
						<p><strong>Owner: </strong><span th:text="${car.owner}"></span></p>
						<p><strong>Company: </strong><span th:text="${car.company}"></span></p>
						<p><strong>Manufacturing Date: </strong><span th:text="${car.manufacturingDate}"></span></p>
						<p><strong>Number of Doors: </strong><span th:text="${car.numberOfDoors}"></span></p>
						<p><strong>Category: </strong><span th:text="${car.category}"></span></p>
						<p><strong>Passenger Occupancy: </strong><span th:text="${car.numberOfOccupancy}"></span></p>
					</div>
					<div class="col-xs-6">
						<p><strong>Model: </strong><span th:text="${car.model}"></span></p>
						<p><strong>Unique Identification: </strong><span th:text="${car.uniqueIdentification}"></span></p>
						<p><strong>Total Weight: </strong><span th:text="${car.totalWeight}"></span></p>
						<p><strong>List Price: </strong><span th:text="${car.listPrice}"></span></p>
						<p><strong>Our Price: </strong><span th:text="${car.ourPrice}"></span></p>
						<p><strong>Number in Stock: </strong><span th:text="${car.inStockNumber}"></span></p>
					</div>
				</div>
				
				<p><Strong>Description: </Strong><span th:utext="${car.description}"></span></p>
			</div>
			
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
